<div class="popupAdd">
    <div class="close-btn">×</div>
    <div class="form">
        <h2>Add Announcement : </h2>
        <div class="form-element">
            <label for="ann-heading">Heading</label>
            <input type="text" id="ann-heading" placeholder="Enter Heading for the Announcement"
                value="For General Programs">
        </div>
        <div class="form-element">
            <label class="add" for="Announcement content">Announcement content</label>
            <textarea id="text-area-content" name="content" rows="4" cols="50">Announcement content</textarea>
        </div>
        <div class="form-element">
            <input type="checkbox" id="important">
            <label for="important">Important</label>
        </div>
        <div class="form-element">
            <button id="submit-ann">Submit</button>
        </div>
    </div>
</div>