<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static "css/add_announcement/style.css" %}>
    <link rel="stylesheet" href={% static "css/main/popup.css" %}>
    <link rel="stylesheet" href={% static "css/main/all.min.css" %}>
    <link rel="stylesheet" href={% static "css/main/style.css" %}>
    <link rel="stylesheet" href={% static "css/main/home.css" %}>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;700;800&display=swap"
        rel="stylesheet" />
    <title>Home</title>
</head>

<body>
    {% if user.is_authenticated %}
    {% include "../includes/nav.html" %}
    {% else %}
    {% include "../includes/navlock.html" %}
    {% endif %}
    <div class="announcement">
        <div class="container">
            <div class="heading">
                <h2>Welcome, FCI Community</h2>
            </div>
            {% if ann %}
            {% for a in ann %}
            {% if a.important == True%}
            <div class="box important">
                {%else%}
                <div class="box">
                    {%endif%}
                    <h2>{{a.heading}}</h2>
                    <p>
                        {{a.content}}
                    </p>
                </div>
                {%endfor%}
                {%endif%}
                <div class="box">
                    <h2>For General programs</h2>
                    <p class="arabic">
                        تم فتح باب الإلتماسات للترم الأول 2021-2022 لجميع الطلاب
                        من خلال صفحة الإلتماسات حتى 31/3/2022
                    </p>
                </div>
            </div>
        </div>
        {% include "../includes/add_announcement.html" %}
        {% include "../includes/popup.html" %}
        <script src={% static 'scripts/main/main.js' %}></script>
        <script src={% static 'scripts/main/announcement.js' %}></script>

</body>

</html>