* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(../../imgs/cover2.jpg);
    background-position: center;
    background-size: cover;
}
.container {
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    width: 60px;
    cursor: pointer;
}
.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}
a:hover {
    transition: 0.5s;
    color: rgb(87, 81, 181);
}
.row {
    display: flex;
    height: 88%;
    align-items: center;
}
.col {
    flex-basis: 50%;
}
h1 {
    color: #fff;
    font-size: 50px;
}
p {
    color: #fff;
    font-size: 14px;
    line-height: 15px;
}
button {
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card {
    width: 200px;
    height: 230px;
    color: #000;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(../../imgs/affairs.jfif);
    background-size: cover;
    width: 40%;
    transition: transform 0.5s;
}
.card1 {
    background-image: url(../../imgs/61161184.jpg);
}
.card2 {
    background-image: url(../../imgs/affairs.jfif);
}
.card3 {
    background-image: url(../../imgs/hhigher.jpg);
}
.card4 {
    background-image: url(../../imgs/track.jfif);
}
.col1 {
    margin-right: 10px;
    flex-basis: 75%;
}
.card1,
.card3,
.card4 {
    position: relative;
}
.card1::after,
.card3::after,
.card4::after {
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    position: absolute;
    border-radius: 10px;
    background-color: #000000;
    opacity: 0.5;
    transition: 0.5s;
}
.card1:hover::after,
.card3:hover::after,
.card4:hover::after {
    width: 100%;
}
.card:hover {
    transform: translateY(-10px);
}
h5 {
    color: #000;
    text-shadow: 0 0 5px #999;
}
@media (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
    .col1 {
        margin-top: 50px;
    }
    .col {
        margin: 50px 0;
        padding-bottom: 50px;
    }
}
