.students .container .search input {
    width: 80%;
    height: 50px;
    padding-left: 10px;
    outline: none;
    border: none;
    margin: 50px 0px -10px;
    padding: 5px;
    background-color: #6ebeff;
    /* color: white; */
    border-radius: 7px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1200px) {
    .students table th,
    .students table td {
        padding: 15px 14px;
    }
}
.students table th,
.students table td {
    padding: 15px 6px;
}
.editing {
    /* background-color: red; */
    /* width: 50px; */
    max-width: 80px;
}
input {
    padding: 5px 3px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}
i {
    cursor: pointer;
}
