<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/intro/style.css' %}">
    <link rel="stylesheet" href={% static "css/main/popup.css" %}>
    <link rel="stylesheet" href={% static "css/main/all.min.css" %}>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="{% url 'home' %}">
                <img src="{% static 'imgs/logo.png'%}" alt="logo" class="logo">
            </a>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}" class="act">Home</a></li>
                    <li><a href="{% url 'login' %}" class="act">Login</a></li>
                </ul>
            </nav>
            <img src="{% static 'imgs/menu.png'%}" class="menu-icon">
        </div>
        <div class="row">
            <div class="col1">
                <h1>Projects</h1>
                <p>You can explore all projects from here and know more about each one and what it used for, </p>
                <a href="{% url 'home' %}">
                    <button type="button" style="cursor:pointer ;">Explore</button>
                </a>
            </div>
            <div class="col">
                <div class="card card1">
                    <h5>Human Resources</h5>
                </div>
                <a href="{% url 'home' %}">
                    <div class="card card2">
                        <h5>Student Affairs</h5>
                    </div>
                </a>
                <div class="card card3">
                    <h5>Higher Studies</h5>
                </div>
                <div class="card card4">
                    <h5>Laboratory Tracking</h5>
                </div>
            </div>
        </div>
        {% include "../includes/popup.html" %}
        <script src={% static 'scripts/main/main.js' %}></script>
</body>

</html>